{% extends 'base.html' %}

{% block content %}

    <h3>User {{ current_user.username }}'s Profile Page</h3>
    <h4>Your info:</h4>
    <p>Your id: {{ current_user.id }}</p>
    <p>Your username: {{ current_user.username }}</p>
    <p>Your email: {{ current_user.email }}</p>
    <p>Is email verified? </p>
    {% if current_user.is_confirmed %}
        Your email is VERIFIED.
        Confirmed on->{{ current_user.confirmed_on }}
    {% else %}
        Your email is NOT VERIFIED.
        Click on this link to verify your email.<a href="{{ url_for('auth.verify_email_request') }}">Verify Email</a>
    {% endif %}
    <p><h3>> To edit your username and email, use the following form:</h3></p>
    {% from "macros/_formhelpers.html" import render_field %}
    <form action="{{ url_for('auth.edit_profile') }}" method="post">
        {{ form1.csrf_token }}
        <dl>
            {{ render_field(form1.username) }}
            {{ render_field(form1.email) }}
            {{ render_field(form1.submit) }}
          </dl>
    </form>
    <br>
    <p><h3>> To change your password use this form:</h3></p>
    <form action="{{ url_for('auth.change_password') }}" method="post">
        {{ form2.csrf_token }}
        <dl>
            {{ render_field(form2.password )}}
            {{ render_field(form2.confirm) }}
            {{ render_field(form2.new_password) }}
            {{ render_field(form2.submit) }}
        </dl>
    </form>
    <br>
    <a href="{{ url_for('main.index') }}">Back to main</a>
{% endblock content %}