{% extends 'base.html' %}

{% block content %}
    <h3>Register</h3>
    
    <form method="post">
        {{ form.csrf_token }}
        <p>{{ form.username.label }} {{ form.username(size=20) }}</p>
        <p>{{ form.email.label }} {{ form.email(size=30) }}</p>
        <p>{{ form.password.label }} {{ form.password(size=30) }}</p>
        <p>{{ form.confirm.label }} {{ form.confirm(size=30) }}</p>
        <p>{{ form.submit() }}</p>
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endif %}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endif %}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endif %}
        {% if form.confirm.errors %}
            {% for error in form.confirm.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}