<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %} - gamehub</title>
    </head>
    <body>
        <nav>
            {% if current_user.is_authenticated %}
                Username: -> {{ current_user.username }}
                <a href="{{ url_for('auth.profile') }}">Profile</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                Username: -> [Not logged in]
            {% endif %}
            <a href="{{ url_for('auth.index') }}">auth-index</a>
            Welcome
            <a href="{{ url_for('auth.register') }}">Register</a>
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('main.index') }}">Main</a>
        </nav>
        <hr>
        <header>
            {% block header %}
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
            {% endblock %}
        </header>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>